<!DOCTYPE html>
<html>
  <head>
    <title>cryptic murmur</title>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
      {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
 <nav>
  <a href="/">Home</a>
  <a href="/guestbook/">Guestbook</a>
  <a href="/manifesto/">Manifesto</a>
</nav>
    <h1>Cryptic Murmur</h1>
    <div class="albums">
  <div class="album-item">
    <a href="https://cyberworldwon.bandcamp.com/album/last-breath" target="_blank">
      
<img src="{% static 'a0849633310_10.jpg' %}">
    </a>
    <p>Bandcamp</p>
  </div>
  <div class="album-item">
    <a href="https://www.youtube.com/@cyberworldwon" target="_blank">
      
<img src="{% static '7bcc95ce1887f581b47dde9402d8f312.jpg' %}">
    </a>
    <p>YouTube</p>
  </div>
</div>
    <div class="bio">
    
<img src="{% static '6a5c7d7b8aef065ce5d908848dd96d48.gif' %}">
    </div>


    <h2>Join The Cryptic Murmur Cult Today</h2>
     
  </body>
 
</html>
