<!DOCTYPE html>
<html>
  <head>
    <title>cryptic murmur</title>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
      {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
<nav>
  <a href="/">Home</a>
  <a href="/guestbook/">Guestbook</a>
  <a href="/manifesto/">Manifesto</a>
</nav>
<h2>A manifesto of my style</h2>

<div class="moodboard">
  <div class="block" style="top: 150px; left: 150px;">
    
<img src="{% static '29a7be6f852ffe83cff6a4f3017a8203.jpg' %}">
    
<img src="{% static '43c67132a33855216fd68f68c9b05d06.jpg' %}">
   
<img src="{% static 'ad944dd3a3e49d4bdd034820a33b96ba.jpg' %}">
    <p>black metal</p>
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1756688574/size=small/bgcol=333333/linkcol=e32c14/transparent=true/" seamless><a href="https://drudkh.bandcamp.com/album/blood-in-our-wells">Blood In Our Wells by Drudkh</a></iframe>
  </div>
  <div class="block" style="top: 280px; left: 500px;">
   
<img src="{% static 'e0ba82e6ca3b603f6ffb1ec555d8e8a6.jpg' %}">
   
<img src="{% static '47a0f7097d735611fe64b3285e8b6c51.jpg' %}">
    <p>nature paintings</p>
    <p>(this is Tom Uttech)</p>
  </div>
    <div class="block" style="top: 50px; left: 500px;">
   
<img src="{% static 'e4075487929a23273180fc4968cdefce.gif' %}">
   
<img src="{% static '83f5052f093a70f9b08d40efac62728e.gif' %}">
    <p>gif art</p>
  </div>
    <div class="block" style="top: 50px; left: 850px;">
   
<img src="{% static '57946ba83326e9905f5d31debe10b030.jpg' %}">
    
<img src="{% static '51e35bf3d3182ca655b3bd76f6e22861.jpg' %}">
    <p>magic</p>
  </div>
    <div class="block" style="top: 130px; left: 1150px;">
    
<img src="{% static 'be6398503d8320326b7af8e9898cc92d.jpg' %}">
    
<img src="{% static '54f2dde80087ec7ebcdf0202542c13d6.jpg' %}">
    <p>cossack culture</p>
</div>
    <div class="block" style="top: 280px; left: 810px;">
   
<img src="{% static 'f0c9e5c61750407c2ed2c06c8079cb5a.jpg' %}">
    
<img src="{% static 'fd1d9cc4ba3182b2f977dea1f6a5d169.jpg' %}">
    
<img src="{% static '1f7b3aa95ae115832c59b08ee498d878.jpg' %}">
    <p>2010's beatmaking</p>
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2420078410/size=small/bgcol=333333/linkcol=fe7eaf/track=3524979809/transparent=true/" seamless><a href="https://sy98.bandcamp.com/album/gtb-sbe-instrumentals">GTB SBE INSTRUMENTALS by sy98</a></iframe>
</div>
</div>